@charset "UTF-8";
/* css style test 2019-11-01 */
.form {
	background-color: #c0c0c0;
	width: 400px;
	height: 50px;
	border-radius: 7px;
	padding: 20px;
	}

h1 { 
	color:#408080; 
	}
	
h3 { 
	color:#000080; 
	}

#btnJoin { 
	border-radius: 5px;
	border: 1px solid skyblue; 
	background-color: rgba(0,0,0,0); 
	color: skyblue; padding: 5px; 
	}
#btnJoin button { 
	border: 1px solid skyblue; 
	background-color: rgba(0,0,0,0); 
	color: skyblue; padding: 5px; 
	} 
	
#btnJoin button:hover { 
	color:white; 
	background-color: skyblue; 
	}
	
#btnLogin { 
	border-radius: 5px;
	border: 1px solid skyblue; 
	background-color: rgba(0,0,0,0); 
	color: skyblue; padding: 5px; 
	}
#btnLogin button { 
	border: 1px solid skyblue; 
	background-color: rgba(0,0,0,0); 
	color: skyblue; padding: 5px; 
	} 
	
#btnLogin button:hover { 
	color:white; 
	background-color: skyblue; 
	}
	
table {
    width: 50%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
tr {
	color:#004040; 
}
th, td {
    border-bottom: 1px solid #444444;
    padding: 10px;
  }
	